.login_container{
    -fx-background-color: #EEEEEE;
}

.login_form_container{
    -fx-spacing: 15;
    -fx-alignment: top_left;
}
.login_form_container Label{
    -fx-font-size: 1.3em;
    -fx-font-weight: bold;
}
.input_field{
    -fx-background-color: white;
    -fx-text-fill: #132A13;
    -fx-pref-height: 35;
    -fx-font-size: 1.2em;
    -fx-background-radius: 10px;
}
.login_form_container Button{
    -fx-background-color: #132A13;
    -fx-text-fill: white;
    -fx-pref-width: 250;
    -fx-pref-height: 30;
    -fx-font-size: 1.2em;
    -fx-background-radius: 10px;
}
.login_form_container Button:hover{
    -fx-cursor: hand;
}
#title_label{
    -fx-font-size: 2em;
    -fx-text-fill: #132A13;
    -fx-font-weight: bold;
}
.error_lbl{
    -fx-text-fill: #FF0000;
}