/* ClassCard.css */
.card {
    -fx-border-color: #cccccc;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-background-color: #f9f9f9;
    -fx-padding: 10;
}

.button {
    -fx-background-radius: 5;
    -fx-text-fill: white;
}